<link rel="stylesheet" href="/css/home_page.css">
<h1>Hello <%= title %></h1>

<section>
    <% if(locals.user) {%>
        <form action="/post/create" method="Post">
            <textarea name="content" rows="3" cols="30" placeholder="Enter the text"></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
</section>

<section>
    <ul type="none">
            <% for(let post of posts){ %>
                <li>
                    <%= post.content %><br> 
                    <small><%= post.user.name %></small>

                    <div id="comments">
                        <p>Comments</p>
                        <ul type="none">
                            <% for(let comment of post.comments) { %>
                                    <li>
                                        <%= comment.content %>
                                        <br>
                                        <%= comment.user.name %>
                                        <br><br>
                                    </li>
                            <% } %>
                        </ul>
                    </div>
                    <% if(locals.user) {%>
                        <form action="/comment/create?post_id=<%= post._id %>" method="Post">
                            <textarea name="content" rows="3" cols="30" placeholder="Enter the Comment"></textarea>
                            <input type="submit" value="Comment">
                        </form>
                    <% } %>
                    <br><br>
                </li>
            <% } %>
    </ul>
</section>

